<%= provide(:title, 'Contact')%>
<div class="content jumbotron">
<h1 class="text-center">Contact us</h1>
<p class="text-center">This is the contact page with all information</p>
<p class="px-4">Twitter: <a href="https:twetter.com/home">https:/twitter.com</a></p>
<p class="px-4">LinkedIn: <a href="https://www.linkedin.com/login/ja">https:/linkedin</a></p>
<p class="px-4">Facebook: <a href="https://ja-jp.facebook.com/">https:/www.facebook.com</a></p>
</div>
