
<% provide(:title, 'Home')%>
    <h1 style="text-align:center;">Awesome Blog</h1>
    <p>
        Welcome to Awesome Blog!<br>
    </p>
    <p>
        This Blog is made for all people who want to get good shape of the body!!
    </p>