<% provide(:title, 'Sign up') %>
<div class="form">
    <h1 class="text-center">Sign up</h1>
    <div class="container">
        <%= render "form"%>
        <%= link_to "already logged in?", login_path%>
    </div>
</div>
