<div class="container main mt-5">
    <div class="row">
        <div class="col-md-10 mt-3">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        <strong>Result: English 101</strong>
                    </h1>
                    <h3></h3>
                </div>
            </div>
        </div>
    </div>
</div>